{% load static %}
<html>
	<head>
		<title>Resorts Reservation</title>
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/card.css' %}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>

	<body body style="background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.500)), url('{% static 'IMAGE/aa.jpg' %}') no-repeat; background-size: cover;">

		<div class="topnav" >
				<img src="{% static 'IMAGE/logo.png' %}">
		</div>
			
		<div class="main">
			<h1>Here are your card details</h1>
		</div>

		<div class="card">
				<h2>Name of the Reservee:</h2> <p> {{guest.firstname}}&nbsp;{{guest.lastname}}</p>
				<h2>Chosen Resort:</h2> <p> {{enter.resort}}</p>
				<h2>Grand Total Amount of Reservation:<h2><p>&#8369;{{enter.tot_amount}}.00</p></br></br>

			<tr>
				<td>Card Name: {{card.cardname}}</td>
				<td>Card No.: {{card.cardnum}}</td>
				<td>Expiration Date: {{card.expmonth}}&nbsp;{{crdtcard.expyear}}</td>
				<td>CVC Code:{{card.code}}</td>

			</tr>

			<a href="/delete/{{ card.id }}" type="submit" class="unaf"><p>Delete</p></a>
		</div>

		<div class="cardc">
			<a href="{% url 'home' %}" type="submit" class="unaf"><p>Back to Home</p></a>
		</div>
			

	</body>
</html>
