{% load static %}
<html>
	<head>
		<title>Resorts Reservation</title>
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/hp.css' %}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>

	<body style="background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.500)), url('{% static 'IMAGE/aa.jpg' %}') no-repeat fixed; background-size: cover;">


		<form method="POST" action="new">

			<div class="topnav">
				<img src="{% static 'IMAGE/logo.png' %}">
			</div>

			<div class='card'>

			<p class="unaa"> BASIC INFORMATION</p>

			<label class="una">First Name</label><br/><br/>
				<input type="text" id="firstname" name="firstname" class="unapa" placeholder="Enter your firstname"
				required/><br/><br/>

			<label class='una'>Last Name</label><br/><br/>
				<input type="text" id="lastname" name="lastname" class="unapa" placeholder="Enter your lastname"
				required/><br/>


			<p class="contacta">Contact Number</p>
				<input type="tel" id="contact" name="contact" class="unac" placeholder="Enter your Contact Number" pattern="[0-9]{11}" required/><br/>

			<p class="emailacc">Email Address</p>
				<input type="email" id="email" name="email" class="unad" placeholder="Enter your Email Address" required/>

			</div>

			<div class="cardc">
			<input type="submit" id="inConfirm" name="inConfirm" class="unae" value="Next"/>
			</div>

			
		{% csrf_token %}
			
	</form>

</body>
</html>
