<html>
	<head>
		<title>The Resorts Hub</title>
	</head>

	<body>
		<h1>Digital Resort Reservation</h1>

		<form method="POST" action="new">

			<label style="font-weight: bold;">First Name</label><br/><br/>
				<input type="text" id="firstname" name="firstname" placeholder="Enter your firstname"
				/><br/><br/>

			<label style="font-weight: bold;">Last Name</label><br/><br/>
				<input type="text" id="lastname" name="lastname" placeholder="Enter your lastname"
				/><br/>


			<p id="contacta" style="font-weight:bold;">Contact Number</p>
				<input type="tel" id="contact" name="contact" placeholder="Enter your Contact Number" pattern="[0-9]{11}" required/><br/>

			<p id="emailacc" style="font-weight:bold;">Email Address</p>
				<input type="email" id="email" name="email" placeholder="Enter your Email Address" required/><br/><br/>

			<input type="submit" id="inConfirm" name="inConfirm" value="Confirm"/>
		{% csrf_token %}
	</form>

</body>
</html>
