<html>
	<head>
		<title>The Resorts Hub</title>
	</head>

	<body>
		<h1>Digital Resort Reservation</h1>
		<table id="Table">
			<tr>
				<td>Hello, !</td>
			</tr>
		</table>
			<p> Contact Number</p>

		<form method="POST" action="success">

				<p id="resorte" style="font-weight:bold;">Select a Resort</p>
				<select id="resort" name="resort" onclick="divisionSelectHandler(this); newdivisionSelectHandler(this)" required>
					<option id="none" name="none" value="none" disabled selected hidden>Choose your option</option>
					<option id="Tubigan" value="Tubigan Garden Resort">Tubigan Garden Resort </option>
					<option id="Saniya" value="Saniya Resort & Hotel">Saniya Resort & Hotel</option>
					<option id="Coco Valley" value="Coco Valley Richnez Waterpark">Coco Valley Richnez Waterpark</option>
					<option id="Volets" value="Volets Hotel & Resort">Volets Hotel & Resort</option>
					<option id="Jardin" value="Jardin De Dasmarinas">Jardin De Dasmarinas</option>
					<option id="V" value="V Resort Dasmarinas">V Resort Dasmarinas</option>
					<option id="Palmas" value="Palmas Del Sol Resort">Palmas Del Sol Resort</option>
					<option id="Riverside" value="Riverside Resort">Riverside Resort</option>
					<option id="Qubo" value="Qubo Qabana Resort">Qubo Qabana Resort</option>
					<option id="Kalipayan" value="Kalipayan Resort">Kalipayan Resort</option>
				</select> <br>

			<p id="entranced" style="font-weight:bold;">Admission</p>

			<select id="entrance" name="entrance" onchange="calculateAmount(this.value)" required>
				<option disabled selected hidden>Choose your option</option>
				<optgroup name="A" id="A" label="Tubigan">
					<option id="DayA" name="Day" value="200">Day </option>
					<option id="NightA" name="Night" value="200">Night </option>
				</optgroup>
				<optgroup name="B" id="B" label="Saniya">
					<option id="DayB" name="Day" value="150">Day </option>
					<option id="NightB" name="Night" value="180">Night </option>
					<option id="OvernightB" name="Overnight" value="180">Overnight</option>
				</optgroup>
				<optgroup name="C" id="C" label="Coco Valley">
					<option id="DayC" name="Day" value="150">Day </option>
					<option id="NightC" name="Night" value="180">Night </option>
					<option id="OvernightC" name="Overnight" value="180">Overnight</option>
				</optgroup>
				<optgroup name="D" id="D" label="Volets">
					<option id="DayC" name="Day" value="250">Day </option>
					<option id="NightC" name="Night" value="250">Night </option>
					<option id="OvernightC" name="Overnight" value="300">Overnight</option>
				</optgroup>
				<optgroup name="E" id="E" label="Jardin">
					<option id="DayE" name="Day" value="200">Day </option>
					<option id="NightE" name="Night" value="250">Night </option>
					<option id="OvernightE" name="Overnight" value="300">Overnight</option>
				</optgroup>
				<optgroup name="F" id="F" label="V Resort">
					<option id="DayF" name="Day" value="150">Day </option>
					<option id="NightF" name="Night" value="170">Night </option>
				</optgroup>
				<optgroup name="G" id="G" label="Palmas Del Sol">
					<option id="DayG" name="Day" value="130">Day </option>
				</optgroup>
				<optgroup name="H" id="H" label="Riverside">
					<option id="DayH" name="Day" value="100">Day </option>
					<option id="NightH" name="Night" value="120">Night </option>
					<option id="OvernightH" name="Overnight" value="150">Overnight</option>
				</optgroup>
				<optgroup name="I" id="I" label="Qubo Qabana">
					<option id="DayI" name="Day" value="130">Day </option>
					<option id="NightI" name="Night" value="150">Night </option>
					<option id="OvernightI" name="Overnight" value="170">Overnight</option>
				</optgroup>
				<optgroup name="J" id="J" label="Kalipayan">
					<option id="DayJ" name="Day" value="200">Day </option>
				</optgroup>
			</select>

			<input type="number" id="admit" name="admit" placeholder="Quantity (Max of 30)" min="1" max="30" oninput="calculateAmount(this.value)" onmouseleave="total()" required/><br/>

			<p> Total Amount: </p>
			<input type="text" class name="pricea" id="pricea" readonly>

			 <script>
            function calculateAmount() {
            	var price = document.getElementById('entrance')
              	var quant = document.getElementById('admit');
                var pricea = quant.value*price.value ;
                /*display the result*/
                var divobja = document.getElementById('pricea');
                divobja.value = pricea;
                return pricea;
            }


            function divisionSelectHandler(select){

            	if (select.value == 'none'){
            			var ele = document.getElementById('A')
			            ele.style.display = 'none'
		            	var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            var ele = document.getElementById('J')
			            ele.style.display = 'none'
			    }

			    else if (select.value == 'Tubigan Garden Resort'){
			    		var ele = document.getElementById('A')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            var ele = document.getElementById('J')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Saniya Resort & Hotel'){
			            var ele = document.getElementById('B')
			            ele.style.display = 'block'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            var ele = document.getElementById('J')
			            ele.style.display = 'none'


			    }

			    else if (select.value == 'Coco Valley Richnez Waterpark'){
			    		var ele = document.getElementById('C')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            var ele = document.getElementById('J')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Volets Hotel & Resort'){
			            var ele = document.getElementById('D')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            var ele = document.getElementById('J')
			            ele.style.display = 'none'
			    }

			    else if (select.value == 'Jardin De Dasmarinas'){
			    		var ele = document.getElementById('E')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            var ele = document.getElementById('J')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'V Resort Dasmarinas'){
			    		var ele = document.getElementById('F')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            var ele = document.getElementById('J')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Palmas Del Sol Resort'){
			    		var ele = document.getElementById('G')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            var ele = document.getElementById('J')
			            ele.style.display = 'none'


			    }

			    else if (select.value == 'Riverside Resort'){
			    		var ele = document.getElementById('H')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('J')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Qubo Qabana Resort'){
			    		var ele = document.getElementById('I')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('J')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Kalipayan Resort'){
			    		var ele = document.getElementById('J')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'


			    }
}

        	</script>

			<p id="cottaged" style="font-weight:bold;">Cottage</p>
				<select id="cottage" name="cottage" onchange="calculateValue(this.value)" required>
				<option disabled selected hidden>Choose your option</option>
				<optgroup name="1" id="1" label="Tubigan">
					<option id="cottage1" value="700">Small Kubo (6 pax)</option>
					<option id="cottage2" value="1000">Medium Kubo (12 pax)</option>
					<option id="cottage3" value="1200">Large Kubo (15 pax)</option>
					<option id="cottage4" value="1200">Open Kubo (20 pax)</option>
					<option id="cottage5" value="1000">Gazebo (9 pax)</option>
				</optgroup>
				<optgroup name="2" id="2" label="Saniya">
					<option id="cottage6" value="300">Gazebo (4 pax)</option>
					<option id="cottage7" value="500">Small Kubo (8 pax)</option>
					<option id="cottage8" value="600">Medium Kubo (10 pax)</option>
					<option id="cottage9" value="800">Large Kubo (15 pax)</option>
					<option id="cottage10" value="600">Peach Cottage (10 pax)</option>
					<option id="cottage11" value="1200">Violet Cottage (25 pax)</option>
				</optgroup>
				<optgroup name="3" id="3" label="Coco Valley">
					<option id="cottage12" value="400">Small Kubo (5 pax)</option>
					<option id="cottage13" value="600">Big Kubo (8-10 pax)</option>
					<option id="cottage14" value="700">Small Cavana (8 pax)</option>
					<option id="cottage15" value="1400">Kubo Cavana (10-12 pax)</option>
					<option id="cottage16" value="1800">Full Cavana (20 pax)</option>
				</optgroup>
				<optgroup name="4" id="4" label="Volets">
					<option id="cottage17" value="350">Umbrella (4 pax)</option>
					<option id="cottage18" value="350">Short Table (6 pax)</option>
					<option id="cottage19" value="500">Petits Cottage (10 pax)</option>
					<option id="cottage20" value="800">Grande Cottage (20 pax)</option>
					<option id="cottage21" value="2000">Big Nipa Hut (30 pax)</option>
				</optgroup>
				<optgroup name="5" id="5" label="Jardin">
					<option id="cottage22" value="500">Regular Cottage (10 pax)</option>
					<option id="cottage23" value="1200">Big Cottage (25 pax)</option>
					<option id="cottage24" value="500">Bahay Kubo (2 pax)</option>
				</optgroup>
				<optgroup name="6" id="6" label="V Resort">
					<option id="cottage25" value="450">Regular Cottage (10 pax)</option>
					<option id="cottage26" value="600">Regular Cottage (16 pax)</option>
				</optgroup>
				<optgroup name="7" id="7" label="Palmas Del Sol">
					<option id="cottage27" value="400">Small Kubo (8 pax)</option>
					<option id="cottage28" value="500">Big Kubo (10 pax)</option>
					<option id="cottage29" value="300">Tent (6 pax)</option>
					<option id="cottage30" value="300">Table with Umbrella (4 pax)</option>
				</optgroup>
				<optgroup name="8" id="8" label="Riverside">
					<option id="cottage31" value="400">Regular Cottage (15-20 pax)</option>
					<option id="cottage32" value="300">Table (8-10 pax)</option>
					<option id="cottage33" value="250">Umbrella (4 pax)</option>
				</optgroup>
				<optgroup name="9" id="9" label="Qubo Qabana">
					<option id="cottage34" value="1200">Family Kubo (20 pax)</option>
					<option id="cottage35" value="600">Kubo with sink (12 pax)</option>
					<option id="cottage36" value="300">Table (6 pax)</option>
				</optgroup>
				<optgroup name="10" id="10" label="Kalipayan">
					<option id="cottage37" value="400">Regular Cottage (8 pax)</option>
					<option id="cottage38" value="600">Regular Cottage (12 pax)</option>
					<option id="cottage39" value="800">Regular Cottage (15 pax)</option>
					<option id="cottage40" value="1500">Gazebo Kubo (15 pax)</option>
					<option id="cottage41" value="1500">Elevated Floor (20 pax)</option>
				</optgroup>
				</select>

			<input type="number" id="quant" name="quant" placeholder="Quantity (Max of 2)" min="1" max="2" oninput="calculateValue(this.value)" onmouseleave="total()" required/><br/>


			<p> Total Amount: </p>
			<input type="text" class name="priceb" id="priceb" readonly>

			<p> Grand Total Amount: </p>
			<input type="text" class name="tot_amount" id="tot_amount" readonly>

			<script>

			function newdivisionSelectHandler(select){

            	/*if (select.value == 'none'){
            			var ele = document.getElementById('A')
			            ele.style.display = 'none'
		            	var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            var ele = document.getElementById('J')
			            ele.style.display = 'none'
			    }
*/
			    if (select.value == 'Tubigan Garden Resort'){
			    		var ele = document.getElementById('1')
			            ele.style.display = 'block'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'
			            var ele = document.getElementById('10')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Saniya Resort & Hotel'){
			            var ele = document.getElementById('2')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'
			            var ele = document.getElementById('10')
			            ele.style.display = 'none'


			    }

			    else if (select.value == 'Coco Valley Richnez Waterpark'){
			    		var ele = document.getElementById('3')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'
			            var ele = document.getElementById('10')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Volets Hotel & Resort'){
			            var ele = document.getElementById('4')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'
			            var ele = document.getElementById('10')
			            ele.style.display = 'none'
			    }

			    else if (select.value == 'Jardin De Dasmarinas'){
			    		var ele = document.getElementById('5')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'
			            var ele = document.getElementById('10')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'V Resort Dasmarinas'){
			    		var ele = document.getElementById('6')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'
			            var ele = document.getElementById('10')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Palmas Del Sol Resort'){
			    		var ele = document.getElementById('7')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'
			            var ele = document.getElementById('10')
			            ele.style.display = 'none'


			    }

			    else if (select.value == 'Riverside Resort'){
			    		var ele = document.getElementById('8')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'
			            var ele = document.getElementById('10')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Qubo Qabana Resort'){
			    		var ele = document.getElementById('9')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('10')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Kalipayan Resort'){
			    		var ele = document.getElementById('10')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'


			    }
}

            function calculateValue() {
            	var price = document.getElementById('cottage')
              	var quant = document.getElementById('quant');
                var priceb = quant.value*price.value ;
                /*display the result*/
                var divobjb = document.getElementById('priceb');
                divobjb.value = priceb;
                return priceb;
            }
            function total() {
               	sum = calculateAmount() + calculateValue();
                /*display the result*/
                var divobjc = document.getElementById('tot_amount');
                divobjc.value = sum;

             }


        	</script>


			<p id="reserved" style="font-weight:bold;">Date of Reservation</p>
				<input type="date" id="reserve" name="reserve" required/><br/><br/>

			<input type="submit" id="inConfirm" name="inConfirm" value="Confirm"/>
		{% csrf_token %}
		</form>
