{% load static %}
<html>
	<head>
		<title>Resorts Reservation</title>
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/np.css' %}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>

	<body style="background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.500)), url('{% static 'IMAGE/aa.jpg' %}') no-repeat fixed; background-size: cover;">

		<div class="topnav" >
				<img src="{% static 'IMAGE/logo.png' %}">
			</div>
			<p class="unaa"> Hello, Name Here!</p>

		<form method="POST" action="date">
				<div class='card'>
				<p id="resorte" class="una">Select a Resort</p>
				<select id="resort" name="resort" class="unaf" onclick="divisionSelectHandler(this); newdivisionSelectHandler(this)" required>
					<option id="none" name="none" value="none" disabled selected hidden>Choose your option</option>
					<option id="Tubigan" value="Tubigan Garden Resort">Tubigan Garden Resort </option>
					<option id="Saniya" value="Saniya Resort & Hotel">Saniya Resort & Hotel</option>
					<option id="Coco Valley" value="Coco Valley Richnez Waterpark">Coco Valley Richnez Waterpark</option>
					<option id="Volets" value="Volets Hotel & Resort">Volets Hotel & Resort</option>
					<option id="Jardin" value="Jardin De Dasmarinas">Jardin De Dasmarinas</option>
					<option id="V" value="V Resort Dasmarinas">V Resort Dasmarinas</option>
					<option id="Palmas" value="Palmas Del Sol Resort">Palmas Del Sol Resort</option>
					<option id="Riverside" value="Riverside Resort">Riverside Resort</option>
					<option id="Qubo" value="Qubo Qabana Resort">Qubo Qabana Resort</option>
				</select>

			<p id="entranced" class="una">Admission</p>

			<select id="entrance" name="entrance" class="unag" onchange="calculateAmount(this.value)" required>
				<option disabled selected hidden>Choose your option</option>
				<optgroup name="A" id="A" label="Tubigan">
					<option id="DayA" name="Day" value="200">Day </option>
					<option id="NightA" name="Night" value="250">Night </option>
				</optgroup>
				<optgroup name="B" id="B" label="Saniya">
					<option id="DayB" name="Day" value="150">Day </option>
					<option id="NightB" name="Night" value="180">Night </option>
					<option id="OvernightB" name="Overnight" value="210">Overnight</option>
				</optgroup>
				<optgroup name="C" id="C" label="Coco Valley">
					<option id="DayC" name="Day" value="170">Day </option>
					<option id="NightC" name="Night" value="190">Night </option>
					<option id="OvernightC" name="Overnight" value="220">Overnight</option>
				</optgroup>
				<optgroup name="D" id="D" label="Volets">
					<option id="DayC" name="Day" value="270">Day </option>
					<option id="NightC" name="Night" value="280">Night </option>
					<option id="OvernightC" name="Overnight" value="300">Overnight</option>
				</optgroup>
				<optgroup name="E" id="E" label="Jardin">
					<option id="DayE" name="Day" value="230">Day </option>
					<option id="NightE" name="Night" value="260">Night </option>
					<option id="OvernightE" name="Overnight" value="310">Overnight</option>
				</optgroup>
				<optgroup name="F" id="F" label="V Resort">
					<option id="DayF" name="Day" value="140">Day </option>
					<option id="NightF" name="Night" value="185">Night </option>
				</optgroup>
				<optgroup name="G" id="G" label="Palmas Del Sol">
					<option id="DayG" name="Day" value="130">Day </option>
				</optgroup>
				<optgroup name="H" id="H" label="Riverside">
					<option id="DayH" name="Day" value="100">Day </option>
					<option id="NightH" name="Night" value="120">Night </option>
					<option id="OvernightH" name="Overnight" value="160">Overnight</option>
				</optgroup>
				<optgroup name="I" id="I" label="Qubo Qabana">
					<option id="DayI" name="Day" value="135">Day </option>
					<option id="NightI" name="Night" value="155">Night </option>
					<option id="OvernightI" name="Overnight" value="175">Overnight</option>
				</optgroup>
			</select>

			<input type="number" id="admit" name="admit" class="unapa" placeholder="Quantity (Max of 30)" min="1" max="30" oninput="calculateAmount(this.value)" onmouseleave="total()" required/>

			<p id="extra"> Total Amount: </p>
			<input type="text" class name="pricea" id="pricea" readonly>

			 <script>
            function calculateAmount() {
            	var price = document.getElementById('entrance')
              	var quant = document.getElementById('admit');
                var pricea = quant.value*price.value ;
                /*display the result*/
                var divobja = document.getElementById('pricea');
                divobja.value = pricea;
                return pricea;
            }


            function divisionSelectHandler(select){

            	if (select.value == 'none'){
            			var ele = document.getElementById('A')
			            ele.style.display = 'none'
		            	var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            
			    }

			    else if (select.value == 'Tubigan Garden Resort'){
			    		var ele = document.getElementById('A')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            

			    }

			    else if (select.value == 'Saniya Resort & Hotel'){
			            var ele = document.getElementById('B')
			            ele.style.display = 'block'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            


			    }

			    else if (select.value == 'Coco Valley Richnez Waterpark'){
			    		var ele = document.getElementById('C')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            

			    }

			    else if (select.value == 'Volets Hotel & Resort'){
			            var ele = document.getElementById('D')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            
			    }

			    else if (select.value == 'Jardin De Dasmarinas'){
			    		var ele = document.getElementById('E')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            

			    }

			    else if (select.value == 'V Resort Dasmarinas'){
			    		var ele = document.getElementById('F')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            

			    }

			    else if (select.value == 'Palmas Del Sol Resort'){
			    		var ele = document.getElementById('G')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            


			    }

			    else if (select.value == 'Riverside Resort'){
			    		var ele = document.getElementById('H')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('I')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'
			            

			    }

			    else if (select.value == 'Qubo Qabana Resort'){
			    		var ele = document.getElementById('I')
			            ele.style.display = 'block'
			            var ele = document.getElementById('B')
			            ele.style.display = 'none'
			            var ele = document.getElementById('A')
			            ele.style.display = 'none'
			            var ele = document.getElementById('D')
			            ele.style.display = 'none'
			            var ele = document.getElementById('E')
			            ele.style.display = 'none'
			            var ele = document.getElementById('F')
			            ele.style.display = 'none'
			            var ele = document.getElementById('C')
			            ele.style.display = 'none'
			            var ele = document.getElementById('H')
			            ele.style.display = 'none'
			            var ele = document.getElementById('G')
			            ele.style.display = 'none'

			    }

}

        	</script>

			<p id="cottaged" class="una">Cottage</p>
				<select id="cottage" name="cottage" class="unah" onchange="calculateValue(this.value)" required>
				<option disabled selected hidden>Choose your option</option>
				<optgroup name="1" id="1" label="Tubigan">
					<option id="cottage1" value="750">Small Kubo (6 pax)</option>
					<option id="cottage2" value="1000">Medium Kubo (12 pax)</option>
					<option id="cottage3" value="1200">Large Kubo (15 pax)</option>
					<option id="cottage4" value="1250">Open Kubo (20 pax)</option>
					<option id="cottage5" value="900">Gazebo (9 pax)</option>
				</optgroup>
				<optgroup name="2" id="2" label="Saniya">
					<option id="cottage6" value="300">Gazebo (4 pax)</option>
					<option id="cottage7" value="500">Small Kubo (8 pax)</option>
					<option id="cottage8" value="600">Medium Kubo (10 pax)</option>
					<option id="cottage9" value="800">Large Kubo (15 pax)</option>
					<option id="cottage10" value="650">Peach Cottage (10 pax)</option>
					<option id="cottage11" value="1300">Violet Cottage (25 pax)</option>
				</optgroup>
				<optgroup name="3" id="3" label="Coco Valley">
					<option id="cottage12" value="400">Small Kubo (5 pax)</option>
					<option id="cottage13" value="670">Big Kubo (8-10 pax)</option>
					<option id="cottage14" value="700">Small Cavana (8 pax)</option>
					<option id="cottage15" value="1400">Kubo Cavana (10-12 pax)</option>
					<option id="cottage16" value="1800">Full Cavana (20 pax)</option>
				</optgroup>
				<optgroup name="4" id="4" label="Volets">
					<option id="cottage17" value="350">Umbrella (4 pax)</option>
					<option id="cottage18" value="380">Short Table (6 pax)</option>
					<option id="cottage19" value="550">Petits Cottage (10 pax)</option>
					<option id="cottage20" value="850">Grande Cottage (20 pax)</option>
					<option id="cottage21" value="2000">Big Nipa Hut (30 pax)</option>
				</optgroup>
				<optgroup name="5" id="5" label="Jardin">
					<option id="cottage22" value="520">Regular Cottage (10 pax)</option>
					<option id="cottage23" value="1220">Big Cottage (25 pax)</option>
					<option id="cottage24" value="470">Bahay Kubo (2 pax)</option>
				</optgroup>
				<optgroup name="6" id="6" label="V Resort">
					<option id="cottage25" value="450">Regular Cottage (10 pax)</option>
					<option id="cottage26" value="630">Regular Cottage (16 pax)</option>
				</optgroup>
				<optgroup name="7" id="7" label="Palmas Del Sol">
					<option id="cottage27" value="420">Small Kubo (8 pax)</option>
					<option id="cottage28" value="510">Big Kubo (10 pax)</option>
					<option id="cottage29" value="340">Tent (6 pax)</option>
					<option id="cottage30" value="330">Table with Umbrella (4 pax)</option>
				</optgroup>
				<optgroup name="8" id="8" label="Riverside">
					<option id="cottage31" value="460">Regular Cottage (15-20 pax)</option>
					<option id="cottage32" value="280">Table (8-10 pax)</option>
					<option id="cottage33" value="250">Umbrella (4 pax)</option>
				</optgroup>
				<optgroup name="9" id="9" label="Qubo Qabana">
					<option id="cottage34" value="1210">Family Kubo (20 pax)</option>
					<option id="cottage35" value="620">Kubo with sink (12 pax)</option>
					<option id="cottage36" value="310">Table (6 pax)</option>
				</optgroup>
				</select>

			<input type="number" id="quant" name="quant" class="unapa" placeholder="Quantity (Max of 2)" min="1" max="2" oninput="calculateValue(this.value)" onmouseleave="total()" required/><br/>


			<p id="extra"> Total Amount: </p>
			<input type="text" class name="priceb" id="priceb" readonly>

			<input type="text" class name="tot_amount" id="tot_amount"  hidden readonly>

			<script>

			function newdivisionSelectHandler(select){

			    if (select.value == 'Tubigan Garden Resort'){
			    		var ele = document.getElementById('1')
			            ele.style.display = 'block'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Saniya Resort & Hotel'){
			            var ele = document.getElementById('2')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Coco Valley Richnez Waterpark'){
			    		var ele = document.getElementById('3')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Volets Hotel & Resort'){
			            var ele = document.getElementById('4')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'
			    }

			    else if (select.value == 'Jardin De Dasmarinas'){
			    		var ele = document.getElementById('5')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'V Resort Dasmarinas'){
			    		var ele = document.getElementById('6')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Palmas Del Sol Resort'){
			    		var ele = document.getElementById('7')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'


			    }

			    else if (select.value == 'Riverside Resort'){
			    		var ele = document.getElementById('8')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('9')
			            ele.style.display = 'none'

			    }

			    else if (select.value == 'Qubo Qabana Resort'){
			    		var ele = document.getElementById('9')
			            ele.style.display = 'block'
			            var ele = document.getElementById('1')
			            ele.style.display = 'none'
			            var ele = document.getElementById('2')
			            ele.style.display = 'none'
			            var ele = document.getElementById('3')
			            ele.style.display = 'none'
			            var ele = document.getElementById('4')
			            ele.style.display = 'none'
			            var ele = document.getElementById('5')
			            ele.style.display = 'none'
			            var ele = document.getElementById('6')
			            ele.style.display = 'none'
			            var ele = document.getElementById('7')
			            ele.style.display = 'none'
			            var ele = document.getElementById('8')
			            ele.style.display = 'none'

			    }
}

            function calculateValue() {
            	var price = document.getElementById('cottage')
              	var quant = document.getElementById('quant');
                var priceb = quant.value*price.value ;
                /*display the result*/
                var divobjb = document.getElementById('priceb');
                divobjb.value = priceb;
                return priceb;
            }
            function total() {
               	sum = calculateAmount() + calculateValue();
                /*display the result*/
                var divobjc = document.getElementById('tot_amount');
                divobjc.value = sum;

             }


        	</script>

		</div>
		
		<div class="cardc">

			<input type="submit" id="inConfirm" name="inConfirm" class='unae' value="Confirm"/>
		{% csrf_token %}

		</div>
		</form>

	</body>
</html>
