<html>
	<head>
		<title>The Resorts Hub</title>
	</head>

	<body>
		<h1 style="font-family: 'Ubuntu', sans-serif; text-align:center; margin-top: 60px;">Congratulations! <br> You have reserved your slot!</h1>
			<div class='trh' style="position: relative; margin-left: 480px; width:400px; border-radius: 10px; display: inline-block; background-color:white; font-family:'Ubuntu', sans-serif; text-align: center; box-shadow: 0 2px 8px 0 gray;">

				<p style="font-weight: bold;">Name</p>
				<p></p>
				<p style="font-weight: bold;">Date of Reservation</p>
				<p></p>
				<p style="font-weight: bold;">Contact No.</p>
				<p></p>
				<p style="font-weight: bold;">Chosen Resort</p>
				<p></p>
				<p style="font-weight: bold;">Admission</p>
				<p> <br/> &#8369;<br/> &#8369;.00  </p>
				<p>{{a.get_cottage_display}}</p>
			</div>
	</body>
</html>
