{% load static %}
<html>
	<head>
		<title>Resorts Reservation</title>
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/r.css' %}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>

	<body body style="background: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.500)), url('{% static 'IMAGE/aa.jpg' %}') no-repeat; background-size: cover;">

		<div class="topnav" >
				<img src="{% static 'IMAGE/logo.png' %}">
		</div>
			
		<div class="main">
			<h1>Congratulations! You have reserved your slot!</h1>
		</div>

		<div class="card">
				<h2>Name:</h2><p>{{guest.firstname}}&nbsp;{{guest.lastname}}</p>
				<h2>Contact No.:</h2><p> {{guest.contact}}</p>
				<h2>Email Address:</h2><p> {{guest.email}}</p>
				<h2>Chosen Resort:</h2><p> {{enter.resort}}</p>
				<h2>Admission:</h2><p>&#8369;{{ enter.entrance }}.00&nbsp;x{{enter.admit}}&nbsp;=&nbsp;&#8369;{{enter.pricea}}.00</p>
				<h2>Cottage:</h2><p> {{enter.get_cottage_display}}&nbsp;{{enter.cottage}}.00&nbsp;x{{enter.quant}}&nbsp;=&nbsp;&#8369;{{enter.priceb}}.00</p>
				<h2> Grand Total Amount:</h2><p>&#8369;{{enter.tot_amount}}.00<p>
				<h2>Date of Reservation:</h2><p> {{plan.reserve}}</p></br>
		</div>
		<div class="cardb">

				<h2>Parking Details</h2>
				<h2>Vehicle Type:</h2><p> {{car.get_vehicle_display}}</p>
				<h2>Plate Number:</h2><p> {{car.licenseplate}}</p>
				<h2>Total Amount (Parking):</h2><p> &#8369; {{car.prkamnt}}.00</p></br></br>
				<a href="carddetails">Card Details (if entered)</a>
		</div>

	</body>
</html>
