* {
  margin: 0;
}


.topnav {  
  overflow: hidden;
  background-color:#1a2f31;
  padding-left: 10px;
  position: fixed;
  transition: top 0.3s;
  z-index: 2;
  width: 100%;
  height: 50px;


}

.topnav img {
  max-width: 100%;
  height: auto; 
  padding-top: 4px;
  padding-left: 650px;
}

.card {
  position: relative;
  display: inline-block;
  background-color: #1a2f31;
  width: 370px;
  height: 435px;
  margin-top: 105px;
  margin-left: 490px;
  padding-top: 20px;
  border-radius: 20px;
  text-align: center;
}


.unaa {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #FFCC57;
  padding-bottom: 20px;
 }


.una {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #FFCC57;
 }


.unapa {
	margin-top: -5px;
	font-family: 'Rubik', sans-serif;
  font-size: 14px;
 	letter-spacing: 1px;
 	text-align: center;
	padding-left: 7px;
	width: 300px;
	height: 35px;
	border-style: none;
	outline: none;
	border-radius: 20px;
 }


.contacta {
	padding-top: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #FFCC57;
}

.unac {
	margin-top: 10px;
	font-family: 'Rubik', sans-serif;
  font-size: 14px;
 	letter-spacing: 1px;
 	text-align: center;
 	padding-left: 7px;
	width: 300px;
	height: 35px;
	border-style: none;
	outline: none;
	border-radius: 20px;
 }


.emailacc {
	font-family: 'Poppins', sans-serif;
	padding-top: 20px;
	font-weight: 600;
	color: #FFCC57;
}

.unad {
	margin-top: 10px;
	font-family: 'Rubik', sans-serif;
  font-size: 14px;
 	letter-spacing: 1px;
 	text-align: center;	
  padding-left: 2px;
	width: 300px;
	height: 35px;
	border-style: none;
	outline: none;
	border-radius: 20px;
 }



 .unae{
  margin-top:20px;
  width: 100px;
  height: 30px;
  font-family: 'Rubik', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.unae:hover {
  background-color: #FFCC57;
  box-shadow: 0px 7px 10px rgba(72,154,194, 0.1);
  color: #1a2f31;
  transform: translateY(-2px);
}

.cardc {
  position: fixed;
  width: 370px;
  height: 435px;
  margin-left: 500px;
  border-radius: 20px;
  text-align: center;
}