<html>
	<head>
		<title>The Resorts Hub</title>
	</head>

	<body>
			<h1>Digital Resort Reservation</h1>
			

			<form class="form" action="" method="POST">
				{% csrf_token %}
				
				<p id="Fullnamea">Full Name</p>
				<input type="text" id="Fullname" name="Fullname" placeholder="Full Name" required/><br/>
				<p id="reservea">Date of Reservation</p>
				<input type="date" id="reserve" name="reserve" required/><br/>
				<p id="contacta">Contact Number</p>
				<input type="tel" id="contact" name="contact" placeholder="Enter your Contact Number" pattern="[0-9]{11}" required/><br/>
				<p id="resorte">Select a Resort</p>
				<select id="resort" name="resort" required>
				<option id="resorta" value="Tubigan Garden Resort">Tubigan Garden Resort </option>
					<option id="resortb" value="Saniya Resort & Hotel">Saniya Resort & Hotel</option>
					<option id="resortc" value="Coco Valley Richnez Waterpark">Coco Valley Richnez Waterpark</option>
					<option id="resortd" value="Volets Hotel & Resort">Volets Hotel & Resort</option>
				</select> <br/>
				<p id="entranced">Admission (Adult)</p>
				<select id="entrance" name="entrance" required>
					<option id="entrancea" value="Day [Adult]">Day </option>
					<option id="entranceb" value="Night [Adult]">Night </option>
					<option id="entrancec" value="Overnight [Adult]">Overnight</option>
				<input type="number" id="admit" name="admit" placeholder="Quantity (Max of 30)" min="1" max="30" required/><br/><br/>

			<input type="submit" name="submitbutton" value="Create a Reservation">
			</form>
		
	</body>
</html>
