<html>
	<head>
		<title>The Resorts Hub</title>
	</head>

	<body>
			<h1>Digital Reservation Receipt</h1>

			<form method="POST">
				<label>Full Name</label>
				<input type="text" id="Fullname" name="Fullname" placeholder="Full Name" required/><br/><br/>
				<label>Date of Reservation</label>
				<input type="date" id="reserve" name="reserve" placeholder="Enter the Date Here"/><br/><br/>
				<label>Contact Number</label>
				<input type="tel" id="contact" name="contact" placeholder="Enter your Contact Number" pattern="[0-9]{11}" required/><br/><br/>
				<label>Select a Resort</label><br/><br/>
				<select name="resort" id="resort">
  					<option value="Tubigan Garden Resort">Tubigan Garden Resort</option>
  					<option value="Coco Valley Richnez Waterpark">Coco Valley Richnez Waterpark</option>
  					<option value="Volet's Hotel & Resort">Volet's Hotel & Resort</option>
  					<option value="Jardin De Dasmari&#241as">Jardin De Dasmari&#241as</option>
				</select><br/><br/>
				<label>Admission</label><br/><br/>
				<select name="admit" id="admit">
  					<option value="Day [Adult]">Day (Adult)</option>
  					<option value="Day [Child]">Day (Child)</option>
  					<option value="Night [Adult]">Night (Adult)</option>
  					<option value="Night [Child]">Night Child</option>
  					<option value="Overnight [Adult]">Overnight (Adult)</option>
  					<option value="Overnight [Child]">Overnight Child</option>
				</select>
				<label>Quantity</label>
				<input type="num" id="admitquant" name="admitquant" min="1" max="20" required/><br/><br/>

			<input type="submit" name="submitbutton" value="Create a Receipt">
			{% csrf_token %}
			</form>
			
		<table id="listTable">
			<tr>
				<td>{{newPerson}}</td>
			</tr>
			<tr>
				<td>{{newDate}}</td>
			</tr>
			<tr>
				<td>{{contactno}}</td>
			</tr>
			<tr>
				<td>{{resortname}}</td>
			</tr>
			<tr>
				<td>{{entrance}}</td>
				<td>{{aquant}}</td>
			</tr>
		</table> 
	</body>
</html>
